# Data: {{ properties.data.mssql.host }}

[{{ properties.data.mssql.host }}](https://{{ properties.data.mssql.host }}) is a database cluster used as a persistence backend for Java web applications.

## Views{{ '\n' }}
{%- if task.data.mssql.views.specifications -%}
{{ '\n' }}
{%- include './context/data/mssql/views/specifications.md.j2' -%}
{%- endif -%}
{%- if task.data.mssql.views.query -%}
{{ '\n' }}
{%- include './context/data/mssql/views/query.md.j2' -%}
{%- endif -%}