{# ------------------------------------------------------------------------------------- #}
{% set search = task.data.logs.parameters.search %}
{% set app = task.data.logs.parameters.app %}
{% set user = properties.data.logs.username %}
{% set host = task.data.logs.parameters.host %}
{% set path = properties.data.logs.path %}
{# 1. Define Display Variables (Clean, for the LLM Console) #}
{% if app == "apache" %}
    {# Apache: compare $4 to "[Date" #}
    {% set disp_col = '$4' %}
    {% set disp_start = '"[' + search.start + '"' %}
    {% set disp_end = '"[' + search.end + '"' %}
{% else %}
    {# Java: compare $1" "$2 to "Date" #}
    {% set disp_col = '$1" "$2' %}
    {% set disp_start = '"' + search.start + '"' %}
    {% set disp_end = '"' + search.end + '"' %}
{% endif %}
{# 2. Define Execution Variables (Escaped, for the SSH Tunnel) #}
{% if app == "apache" %}
    {# Apache: Escape $4 -> \\$4, Escape quotes -> \\" #}
    {% set exec_col = '\\$4' %}
    {% set exec_start = '\\"[' + search.start + '\\"' %}
    {% set exec_end = '\\"[' + search.end + '\\"' %}
{% else %}
    {# Java: Escape $1 -> \\$1, Internal quotes -> \\\" \\\" (Crucial Fix) #}
    {# This ensures the remote server receives: $1" "$2 #}
    {% set exec_col = '\\$1\\\" \\\"\\$2' %}
    {% set exec_start = '\\"' + search.start + '\\"' %}
    {% set exec_end = '\\"' + search.end + '\\"' %}
{% endif %}
{# 3. Build the Command Strings #}
{# Display: user@host % awk '...' /path #}
{% set awk_script_disp = "'" + disp_col + " >= " + disp_start + " && " + disp_col + " <= " + disp_end + "'" %}
{% set prompt_prefix = user + '@' + host + ' % awk ' + awk_script_disp + ' ' %}
{# Execution: ssh user@host "awk '...'" #}
{% set awk_script_exec = "'" + exec_col + " >= " + exec_start + " && " + exec_col + " <= " + exec_end + "'" %}
{# Note: We open the double quote for SSH here, and close it in the command() call below #}
{% set ssh_prefix = 'ssh ' + user + '@' + host + ' "awk ' + awk_script_exec + ' ' %}
{# ------------------------------------------------------------------------------------- #}
### View: Search

{% if app == "apache" %}
=== "Apache Access Logs"
    {% set log_file = path + app + '/access*.log' %}

    ```bash
    {{ prompt_prefix }}{{ log_file }}

    {{ command(ssh_prefix + log_file + '"') | indent(4, first = False)}}
    ```

=== "Apache Error Logs"
    {% set log_file = path + app + '/error*.log' %}

    ```bash
    {{ prompt_prefix }}{{ log_file }}

    {{ command(ssh_prefix + log_file + '"') | indent(4, first = False) }}
    ```

{% elif app in ["java-app"] %}
=== "Application Logs"
    {% set log_file = path + app + '/gl*.log' %}

    ```bash
    {{ prompt_prefix }}{{ log_file }}

    {{ command(ssh_prefix + log_file + '"') | indent(4, first = False)}}
    ```

=== "Jetty Logs"
    {% set log_file = path + app + '/*jetty*.log*' %}

    ```bash
    {{ prompt_prefix }}{{ log_file }}

    {{ command(ssh_prefix + log_file + '"') | indent(4, first = False) }}
    ```

=== "Webservice Logs"
    {% set log_file = path + app + '/webservices.log' %}

    ```bash
    {{ prompt_prefix }}{{ log_file }}

    {{ command(ssh_prefix + log_file + '"') | indent(4, first = False) }}
    ```
{% endif %}