{% if task.context %}
{% include "./context/index.md.j2" %}
---
{{ '\n' }}
{% endif %}
{% if task.ticket.shell | length > 0 -%}
# Tool: Shell

## Views

### View: localhost

- This section contains additional information, scraped at prompt-time.

{% for cmd in task.ticket.shell -%}
```bash
{{ properties.inventory.local.username }}@localhost % {{ cmd }}

{{ command(cmd) }}
```

{% endfor %}

---
{{ '\n' }}
{%- endif -%}
# Task: {{ task.ticket.title }}

{{ task.ticket.content }}