**/*.zip
**/*.gz
**/.terraform
**/.terrraform/** 
**/*.terraform.lock.hcl
**/build/**
**/venv/**
!**/venv/.gitkeep
**/pyvenv.cfg
**/*.log
**/.DS_Store
**/*.pyc
**/__pycache__
**/*.DS_Store*
**/prompt/*
!**/prompt/.gitkeep