{# ------------------------------------------------------------------------------------- #}
{% set host = properties.data.mssql.host %}
{# ------------------------------------------------------------------------------------- #}
{% for task_data in task.data.mssql if task_data.views.query %}
{# ------------------------------------------------------------------------------------- #}
{% set database = task_data.parameters.database %}
{% set query = task_data.parameters.query %}
{# ------------------------------------------------------------------------------------- #}
### View: Query({{host}}/{{database}})

```bash
{{ properties.inventory.local.username}}@localhost % sqlcmd \
    -S {{ host }} \
    -U $MSSQL_USER \
    -P $MSSQL_PASSWORD \
    -d {{ database }} \
    -Q "{{ query }}"

{{ command("sqlcmd -S " + host + " -U $MSSQL_USER -P $MSSQL_PASSWORD -d " + database + " -Q '" + query  + "'") }}
```
{% endfor %}
{# ------------------------------------------------------------------------------------- #}
