{# ------------------------------------------------------------------------------------- #}
{% set host = properties.data.mssql.host %}
{% set version = views.data.mssql.specifications.version %}
{# ------------------------------------------------------------------------------------- #}
{% for task_data in task.data.mssql if task_data.views.specifications %}
{# ------------------------------------------------------------------------------------- #}
{% set database = task_data.parameters.database %}
{% set cmd = 'sqlcmd -S ' + host + ' -d ' + database + ' -U "$MSSQL_USER" -P "$MSSQL_PASSWORD" -Q "' + version + '"'%}
{# ------------------------------------------------------------------------------------- #}
### View: Specifications({{ host }}/{{ database}})

```bash
{{ properties.inventory.local.username }}@localhost % {{ cmd }}

{{ command(cmd) }}
```
{% endfor %}
{# ------------------------------------------------------------------------------------- #}