
## System Context: Elara Project

`elara` is a personal project for archiving pieces of my writing. It uses Sphinx to render RestructuredText into HTML. The rendered pages are then uploaded to an S3 bucket on AWS that is served behind a CloudFront distribution.

- [elara.chinchalinchin.com](https://elara.chinchalinchin.com)

**Directory**

```bash
(venv) gmoore@Grants-MacBook-Pro elara % tree --gitignore -I '.git' -a -L 4 /Users/gmoore/Home/lib/elara

{{ command("tree --gitignore -I '.git' -a -L 4 /Users/gmoore/Home/lib/elara") }}
```

- `source/_templates/widgets/*`: HTML templates for inline widgets.
- `source/_templates/panels/*`: HTML templates for panels.
- `source/_extensions/directives/panels.py`: Custom Sphinx directives for rendering HTML templates.
- `source/_extensions/roles/classes.py`: Custom Sphinx roles for injecting inline CSS classes.
- `source/_extension/roles/widgets.py`:  Custom Sphinx roles for rendering inline HTML templates.

### Files

**upload.sh**

```bash
{{ file("/Users/gmoore/Home/lib/elara/upload.sh") }}
```

**requirements.txt**

```text
{{ file("/Users/gmoore/Home/lib/elara/requirements.txt") }}
```

**cloud/main.py**

!!! note
  The pipeline is not currently used anywhere.

```hcl
{{ file("/Users/gmoore/Home/lib/elara/cloud/main.tf") }}
```

**source/conf.py**

```python
{{ file("/Users/gmoore/Home/lib/elara/source/conf.py") }}
```
