{# ------------------------------------- CONTEXT --------------------------------------- #}
{%- if task.system %}
{%- include './context/system/index.md.j2' %}
{%- endif -%}
{# ------------------------------------------------------------------------------------- #}
{# ------------------------------------- DATA ------------------------------------------ #}
{%- if 'data' in task and task.data.logs.views.values() | select | list %}
{{ '\n\n' }}
{%- include './context/data/logs/index.md.j2' %}
{%- endif -%}
{%- if 'data' in task and task.data.mssql.views.values() | select | list %}
{{ '\n\n' }}
{%- include './context/data/mssql/index.md.j2' %}
{%- endif -%}
{# ------------------------------------------------------------------------------------- #}
{# ----------------------------------- INVENTORY --------------------------------------- #}
{%- if 'inventory' in task and task.inventory.host | length > 0 %}
{{ '\n\n' }}
{%- include './context/inventory/host/index.md.j2' %}
{%- endif -%}
{%- if 'inventory' in task and task.inventory.k8s | length > 0 %}
{{ '\n\n' }}
{%- include './context/inventory/k8s/index.md.j2' %}
{%- endif -%}
{# ------------------------------------------------------------------------------------- #}
{# ------------------------------------- TOOLS ----------------------------------------- #}
{%- if 'tools' in task and task.tools.artifactory | length %}
{{ '\n\n' }}
{%- include './context/tools/artifactory/index.md.j2' %}
{%- endif -%}
{%- if 'tools' in task and task.tools.github | length > 0 %}
{{ '\n\n' }}
{%- include './context/tools/github/index.md.j2' %}
{%- endif -%}
{%- if 'tools' in task  and task.tools.jenkins | length > 0 %}
{{ '\n\n' }}
{%- include './context/tools/jenkins/index.md.j2' %}
{%- endif -%}
{%- if 'tools' in task  and task.tools.prometheus | length > 0 %}
{{ '\n\n' }}
{%- include './context/tools/prometheus/index.md.j2' %}
{%- endif -%}
{# ------------------------------------------------------------------------------------- #}