# Inventory: 
{# {{ task.inventory.host.parameters.hostname }} todo: fix this #}
{# ---------------------------------- VIEWS -------------------------------------------- #}

## Views
{{ '\n' }}
{%- include './context/inventory/host/views/certificates.md.j2' -%}
{{ '\n' }}
{%- include './context/inventory/host/views/command.md.j2' -%}
{{ '\n' }}
{%- include './context/inventory/host/views/docker.md.j2' -%}
{{ '\n' }}
{%- include './context/inventory/host/views/specifications.md.j2' -%}
{# ------------------------------------------------------------------------------------- -#}