.center {
    text-align: center;
}

.hover {
    transition: transform 0.3s ease, color 0.3s ease; 
}

.hover:hover {
    color: var(--pst-color-link-hover);
}

.small {
    font-size: 0.5em;
}

.tiny {
    font-size: 0.25em;
}

.footnote {
    font-size: 0.7em !important;
}

.epigraph {
    font-size: 0.75em !important;
}

.sidebar {
    font-size: 0.8em !important;
}

.scbs-carousel{
    width: 70%;
    margin: auto;
}

.scbs-carousel-item {
    max-height: 375px;
}

.scbs-carousel p {
    font-size: 0.85em !important;
}