# Component: {{ properties.inventory.host.hostname }}

{# ---------------------------------- VIEWS --------------------------------------------  #}
{% if task.inventory.host.views.values() | select | list %}
## Views

{%- if task.inventory.host.views.certificates %}
{% include './.context/.inventory/.host/.views/.certificates.md.j2'%}
{%- endif %}

{%- if task.inventory.host.views.command %}
{% include './.context/.inventory/.host/.views/.command.md.j2' %}
{%- endif %}

{%- if task.inventory.host.views.docker %}
{% include './.context/.inventory/.host/.views/.docker.md.j2' %}
{%- endif %}

{%- if task.inventory.host.views.specifications %}
{% include './.context/.inventory/.host/.views/.specifications.md.j2' %}
{%- endif %}
{% endif %}
{# -------------------------------------------------------------------------------------  #}
