{% for task_data in task.inventory.host if task_data.views.certificates %}
{% set ssh_cmd = 'ssh ' + properties.inventory.host.username + '@' + task_data.parameters.hostname + ' ' + views.inventory.host.certificates.cmd %}
## View: Certificates

```bash
{{ properties.inventory.host.username }}@{{ task_data.parameters.hostname }} % {{ views.inventory.host.certificates.cmd }}

{{ command(ssh_cmd)}}
```
{% endfor %}
