{% for task_data in task.inventory.host if task_data.views.command %}
{% set ssh_cmd =  'ssh ' + properties.inventory.host.username + '@' + task_data.parameters.hostname %}
### View: Command

```bash
{{ properties.inventory.host.username }}@{{ task_data.parameters.hostname }} % {{ task_data.parameters.command }}

{{ command(ssh_cmd + ' ' + task_data.parameters.command) }}
```
{% endfor %}