{% for task_data in task.inventory.host if task_data.views.docker %}
## View: Docker

{% for view, cmd in views.inventory.host.docker.items() %}
{% set ssh_cmd ='ssh ' + properties.inventory.host.username + '@' + task_data.parameters.hostname + ' ' + cmd %}
=== "{{ view }}"

    ```bash
    {{ properties.inventory.host.username }}@{{ task_data.parameters.hostname }} % {{ cmd }}

    {{ command(ssh_cmd) | indent(4, first = False)}}
    ```
    
{% endfor %}
{% endfor %}