# Component: System Context

{# ---------------------------------- VIEWS --------------------------------------------  #}
{% include './.context/.system/.host/.views/.elara.md.j2'%}

{% include './.context/.system/.host/.views/.guidelines.md.j2'%}
{# -------------------------------------------------------------------------------------  #}
