{% set root = "/Users/gmoore/Home/projects/elara/" %}
{% set poems                 = [
    "source/oeuvre/2025/abstracta/00.rst",
    "source/oeuvre/2025/abstracta/01.rst",
    "source/oeuvre/2025/ballads/00.rst",
    "source/oeuvre/2025/ballads/01.rst",
    "source/oeuvre/2025/ballads/02.rst",
    "source/oeuvre/2025/elegies/00.rst",
    "source/oeuvre/2025/ghazals/00.rst",
    "source/oeuvre/2025/imagistic/00.rst",
    "source/oeuvre/2025/imagistic/01.rst",
    "source/oeuvre/2025/imagistic/02.rst",
    "source/oeuvre/2025/odes/00.rst",
    "source/oeuvre/2025/odes/01.rst",
    "source/oeuvre/2025/odes/02.rst",
    "source/oeuvre/2025/pantoums/00.rst",
    "source/oeuvre/2025/roundels/00.rst",
    "source/oeuvre/2025/roundels/01.rst",
    "source/oeuvre/2025/roundels/02.rst",
    "source/oeuvre/2025/sonnets/00.rst",
    "source/oeuvre/2025/sonnets/01.rst",
    "source/oeuvre/2025/sonnets/02.rst",
    "source/oeuvre/2025/sonnets/03.rst",
    "source/oeuvre/2025/sonnets/04.rst",
    "source/oeuvre/2025/sonnets/05.rst",
    "source/oeuvre/2025/verse/00.rst",
    "source/oeuvre/2025/verse/01.rst",
    "source/oeuvre/2025/verse/02.rst",
    "source/oeuvre/2025/verse/03.rst",
    "source/oeuvre/2025/verse/04.rst",
    "source/oeuvre/2025/verse/05.rst",
    "source/oeuvre/2025/verse/06.rst",
    "source/oeuvre/2025/verse/07.rst",
    "source/oeuvre/2025/verse/08.rst",
    "source/oeuvre/2025/verse/09.rst",
    "source/oeuvre/2025/verse/10.rst",
    "source/oeuvre/2025/verse/11.rst",
    "source/oeuvre/2025/verse/12.rst",
    "source/oeuvre/2025/verse/13.rst",
    "source/oeuvre/2025/verse/14.rst",
    "source/oeuvre/2025/villanelles/00.rst",
    "source/oeuvre/2025/villanelles/00.rst",
    "source/oeuvre/2026/ballads/00.rst",
    "source/oeuvre/2026/ghazals/00.rst",
    "source/oeuvre/2026/pantoums/00.rst",
    "source/oeuvre/2026/sonnets/00.rst",
    "source/oeuvre/2026/sonnets/01.rst",
    "source/oeuvre/2026/triolets/00.rst",
    "source/oeuvre/2026/verse/00.rst",
    "source/oeuvre/2026/verse/01.rst",
    "source/oeuvre/2026/verse/02.rst"
] %}

{% for poem in poems %}
{{ file(root+poem) }}

{% endfor %}