{% for task_data in task.tools.github %}
{% for blob, enabled in task_data.views.items() if (enabled and blob != "directory") %}
{% set prefix = properties.tools.github.groups[task_data.parameters.group] + task_data.parameters.repo%}
### View: {{ views.tools.github.blobs[blob].title }}

{% for name, hint in views.tools.github.blobs[blob].files.items() %}
**{{prefix}}/{{ name }}**

```{{ hint }}
{{ file(properties.tools.github.groups[task_data.parameters.group] + task_data.parameters.repo +  "/" + name) }}
```

{% endfor -%}
{%- endfor -%}
{%- endfor -%}