{% for task_data in task.tools.github if task_data.views.directory %}
{% set repo_path = properties.tools.github.groups[task_data.parameters.group] + task_data.parameters.repo %}
{% set tree_cmd = properties.tools.github.directory %}
### View: {{ repo_path }} Directory Structure 

```bash
{{ properties.inventory.local.username }}@localhost % {{ tree_cmd }} {{ repo_path }}

{{ command(tree_cmd + " " + repo_path) }}
```
{% endfor %}