{% for task_data in task.tools.github if task_data.views.docs %}
{% set repo_path = properties.tools.github.groups[task_data.parameters.group] + task_data.parameters.repo %}
{% set docs_path = repo_path + "/" + properties.tools.github.docs.path %}
{% set docs_index = properties.tools.github.docs.index %}
### View: {{ task_data.parameters.repo | capitalize }} Documentation 

----------- START HEADING BREAK: HEADING LEVELS RESET -----------

{{ file(docs_path +  "/" + docs_index) }}

{% for doc in contents(docs_path) %}
{{ file(docs_path +  "/" + doc) }}

{% endfor %}

----------- END HEADING BREAK: HEADING LEVELS RESUME -----------
{% endfor %}
