{%- for task_data in task.inventory.host %}

### View: Command({{ task_data.parameters.hostname }})

{% for cmd in task_data.parameters.command %}
{% set ssh_cmd =  'ssh ' + properties.inventory.host.username + '@' + task_data.parameters.hostname %}

```bash
{{ properties.inventory.host.username }}@{{ task_data.parameters.hostname }} % {{ cmd }}

{{ command(ssh_cmd + ' ' + cmd) }}
```

{% endfor %}
{% endfor %}