{# ------------------------------ TEMPLATE CONFIGURATION -------------------------------  #}  
{#  - `command`: commands to construct the views                                          #}
{# -------------------------------------------------------------------------------------  #} 
{% set commands                             = {
    "pods"                                  = "kubectl get pods -A"
} %}
{# -------------------------------------------------------------------------------------  #} 

## {{ properties.inventory.k8s.host }}

```bash
{{ properties.inventory.local.username }}@localhost % {{ commands.pods }}

{{ command(commands.pods) }}
```