{% set a = [
    "a1",
    "a2",
    "a3",
    "a4",
    "a5",
    "a6"
    "a7"
] %}
{% set b = [
    "b1",
    "b2",
    "b3",
    "b4",
    "b5",
    "b6",
    "b7",
    "b8",
    "b9",
    "b10",
    "b11",
    "b12",
    "b13"
] %}
{% set c = [
    "c1",
    "c2",
    "c3",
    "c4",
    "c5"
] %}
{% set C = "C" %}

| {{ a[0] }}
| {{ a[1] }}
| {{ a[2] }}
| {{ b[0] }}
| {{ b[1] }}
| {{ c[0] }}
| {{ b[2] }}
| {{ C }} 
|
| {{ a[3] }}
| {{ b[3] }}
| {{ a[4] }}
| {{ b[4] }}
| {{ b[5] }}
| {{ c[1] }}
| {{ b[6] }}
| {{ C }}
| 
| {{ a[5] }}
| {{ b[7] }}
| {{ a[6] }}
| {{ b[8] }}
| {{ b[9] }}
| {{ c[2] }}
| {{ b[10] }}
| {{ C }}
|
| {{ b[11] }}
| {{ c[4] }}
| {{ b[12] }}
| {{ C }}