{# ------------------------------ TEMPLATE CONFIGURATION -------------------------------  #}  
{#  - `command`: commands to construct the views                                          #}
{# -------------------------------------------------------------------------------------  #}  
{% set commands         = {
    "containers"        : "sudo docker ps",
    "images"            : "sudo docker stats --no-stream"
} %}
{# -------------------------------------------------------------------------------------  #}  
## View: Docker

{% for view, cmd in commands.items() %}
### {{ view }}

```bash
{{ properties.inventory.host.username }}@{{ properties.inventory.host.hostname }} % {{ cmd }}

{{ command('ssh ' + properties.inventory.host.username + '@' + properties.inventory.host.hostname + ' ' + cmd) }}
```

{% endfor %}