{# ------------------------------ TEMPLATE CONFIGURATION -------------------------------  #}  
{#  - `command`: commands to construct the views                                          #}
{# -------------------------------------------------------------------------------------  #}  
{% set commands                 = {
    "os"                        : "lsb_release -a"
    "cpu"                       : "lscpu"
    "memory"                    : "free"
    "processes"                 : "top -b -n 1 | head -n 17"
} %}
{# -----------------------------------------------------------------  #}

## View: Specifications

{% for spec, cmd in commands.items() %}
### Spec: {{ spec }}

```bash
{{ properties.inventory.host.username }}@{{ properties.inventory.host.hostname }} % {{ cmd }}

{{ command('ssh ' + properties.inventory.host.username + '@' + properties.inventory.host.hostname + ' ' + cmd) }}
```

{% endfor %}