{# ------------------------------------------------------------------------------------- #}
# Tool: {{ properties.tools.github.url }}

[{{ properties.tools.github.url }}](https://{{ properties.tools.github.url }}) is the version control for the environment.

## Views
{{ '\n' }}
{%- include './context/tools/github/views/directory.md.j2' -%}
{{ '\n' }}
{%- include './context/tools/github/views/blob.md.j2' -%}