# Inventory: kubernetes

- [{{ properties.inventory.k8s.host }}]({{ properties.inventory.k8s.host }})

{# ---------------------------------- VIEWS --------------------------------------------  #}
## Views
{{ '\n' }}
{%- include './context/inventory/k8s/views/pods.md.j2' -%}
{# -------------------------------------------------------------------------------------  #}