Construct a metric whose basis is expressed in the orthogonal dimensions of (Milton, Keats, Dante, Cædmon, Blake, Homer, Virgil). Normalize the scale to be 1 against the entire corpose of all recorded poetry across history. Rate this unfinished poem, denominated in fractions of the normalized scale. 

!!! note
    Assume Cædmon wrote Genesis A & B.